* {
    font-family: "Muli";
    src: url(font\muli.ttf);

}

.containerheader {
    height: 64px;
    width: 100%;
    background-color: #002B6F;
}

.logo {
    width: 128px;
    left: 40px;


}

.menuheader {
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: flex-end;
}

.carritoheader {
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: flex-end;


}

.nav1 {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;

}

.nav1 li {
    list-style-type: none;
    text-decoration: none;
    color: black;
    display: inline-flex;
    justify-content: flex-start;
    align-items: space-between;
    margin-right: 30px;


}

.nav1 a {
    color: #22293A;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;

}

.ofertas a {
    color: #FCB731;
}

.nav1 a:hover {
    background-color: yellow;
    display: inline-block;
}

.banner1 {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    width: 1519px;
}

.fondoimagensegunda {
    width: 100%;
    height: 260px;
    background-color: #F4F4F6;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}
.encontrarplato p{
    color: #ffffff;    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 40px;
    width: 942px;
}

.imagensegunda {
    display: flex;
    width: 972px;
    height: 218px;
    padding: 30px;

}
.nuestrahp img{
    width: 462px;
    height: 88px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    
}
.fotosextra{
    width: 216px;
    height: 216px;
    display: flex;
    justify-content: flex-start;
    
}
.encontrarplato {
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    position: absolute;
    text-align: center;
    top: 20%;
    left: 32%;
    transform: translate(-50%, -50%);
}

.menuprincipal {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;

}

.comidamenu1 {
    width: 342px;
    height: 180px;
}

.comidamenu2 {
    width: 342px;
    height: 180px;
}

.comidamenu3 {
    width: 342px;
    height: 180px;
}

.comidamenu4 {
    width: 342px;
    height: 180px;
}

.containerplatos {
    background-color: #F4F4F6;
    width: 100%;
    height: 385px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.containerplatos p{
    color: #22293a;
    display: flex;
    align-items: flex-start;
    font-size: 32px;
    font-weight: 700;
    width: 450px;
    position: absolute;
}

.containerplatos img {
    width: 64px;
    height: 64px;
}

/* .containerplatos.circle img{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-color: white;
    
} */

.volverarriba {
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerabajo img {
    width: 100%;
    height: 165px;
}

/* .menuabajo{
    display: flex;
    justify-content: space-between;
} */

/*Media query*/
@media only screen and (max-width: 600px) {
    /* body {
      background-color: lightblue;
    } */
}