/* .deportes{
    text-align: center;
}
.deportes article{
    text-align: right;
} */
body{
    width: 1519px;
    float: left;
    margin-left: auto;
    margin-right: auto;
}
header{
    background-color: white;
    margin-top: auto;
    height: 80px;
    
}

nav{
    display: inline;
    text-decoration: none;
    text-align: right;
}
nav li{
    display: inline;
    text-decoration: none;
    text-align: right;
}
.containernoticias{
    margin: auto;
    float: left;
    width: 759.5px;
    height: 350px;
    order: 1;
    background-color: blue;
    border-color: black;
}
.noticias{
    background-color: blue;
}
.noticias h2{
    text-align: center;
}
.noticias h3{
    text-align: center;

}
.ultima_hora{
    background-color: aqua;

}
.ultima_hora h2{
    text-align: center;
}
.ultima_hora h3{
    text-align: center;

}
.deportes{
    background-color: aqua;
}
aside{
    float: left; 
    width: 759.5px;
    margin: auto;
    background-color: yellow;
    height: 350px;
    order: 4;


}
footer{
    background-color: green;
    margin-top: auto;
    height: 80px;
    float: left;
    order: 5;

}