/* reseñascss.css */

/* Estilo para el formulario */
#comentarioForm {
    max-width: 400px;
    margin: 20px auto;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#comentarioForm label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#comentarioForm input[type="text"],
#comentarioForm input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#comentarioForm input[type="submit"] {
    background-color: #0071DC;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#comentarioForm input[type="submit"]:hover {
    background-color: #002B6F;
}

/* Estilo para los filtros */
#categories-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 30px;
}

.filter-option {
    margin-left: 20px;
    margin-bottom: 10px;
}

#orden-selector {
    float: left;
    margin-left:55px;
}

#orden-selector label {
    display: block;
    color: #555;
}

#orden-selector select {
    padding: 5px;
    border: 2px solid #3498db;
    border-radius: 3px;
    background-color: #fff;
    color: #555;
    cursor: pointer;
}

.category-checkbox {
    display: none;
}

.filter-option label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    color: #555;
}

.filter-option label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #3498db;
    background-color: #fff;
    border-radius: 3px;
    box-sizing: border-box;
}

.filter-option label:hover:before {
    border-color: #2980b9;
}

.category-checkbox:checked+label:before {
    background-color: #0071DC;
    border-color: #0071DC;
}

/* Otras reglas de estilo que ya tienes */
.fondorese {
    background-color: #F4F4F6;
    padding-left: 50px;
    padding-top: 20px;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}

.estrellas {
    font-size: 25px;
}

.comrese {
    font-size: 13px;
    word-wrap: break-word;
}

.nomrese {
    font-size: 12px;
    font-weight: bold;
}