* {
    font-family: "Muli";
    src: url(font\muli.ttf);

}

.home {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}

.nav1 {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;

}

.nav1 li {
    list-style-type: none;
    text-decoration: none;
    color: black;
    display: inline-flex;
    justify-content: flex-start;
    align-items: space-between;
    margin-right: 30px;


}

.nav1 a {
    color: #22293A;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;

}

.ofertas a {
    color: #FCB731;
}

.nav1 a:hover {
    background-color: yellow;
    display: inline-block;
}

.home .div-2 {
    background-color: #ffffff;
    height: 2207px;
    overflow: hidden;
    position: relative;
    width: 1519px;
}

.home .HEADER {
    background-color: transparent;
    height: 64px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1523px;
}

.home .overlap {
    background-color: #002b6f;
    height: 64px;
    position: relative;
    width: 1519px;
}

.home .norauto-logo-vector-1 {
    left: 40px;
}

.home .image-1 {
    background-image: url(./image-1-2.png);
    left: 1445px;
    position: absolute;
    top: 16px;
}

.home .overlap-group {
    background-color: #ffffff;
    border-radius: 10px;
    height: 48px;
    left: 197px;
    position: absolute;
    top: 8px;
    width: 803px;
}

.home .text-wrapper-10 {
    color: #747474;

    font-size: 16px;
    font-weight: 700;
    left: 3px;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    top: 2px;
    white-space: nowrap;
    width: 800px;
}

.home .overlap-2 {
    height: 31px;
    left: 1018px;
    position: absolute;
    top: 17px;
    width: 115px;
}

.home .text-wrapper-11 {
    color: #ffffff;

    font-size: 16px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 3px;
    width: 115px;
}

.home .img {
    height: 31px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 30px;
}

.home .HAMBURGESA-BOTON {
    height: 25px;
    left: 1168px;
    position: absolute;
    top: 19px;
    width: 79px;
}

.home .overlap-group-2 {
    height: 25px;
    position: relative;
    width: 77px;
}

.home .text-wrapper-12 {
    color: #ffffff;

    font-size: 16px;
    font-weight: 700;
    left: 22px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 1px;
    width: 55px;
}

.home .menu-del-restaurante {
    height: 25px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 25px;
}

.home .conectarse {
    height: 28px;
    left: 1280px;
    position: absolute;
    top: 20px;
    width: 126px;
}

.home .text-wrapper-13 {
    color: #ffffff;

    font-size: 16px;
    font-weight: 700;
    left: 34px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 0;
    width: 90px;
}

.home .image-2 {
    height: 28px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 30px;
}

.home .overlap-3 {
    height: 756px;
    left: -13px;
    position: absolute;
    top: 1451px;
    width: 1532px;
}

.home .FOOTER {
    background-color: transparent;
    height: 756px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1532px;
}

.home .overlap-4 {
    height: 106px;
    left: 0;
    position: absolute;
    top: 650px;
    width: 1532px;
}

.home .rectangle-8 {
    background-color: #ffffff;
    border: 0.5px solid;
    border-color: #333333;
    height: 106px;
    left: 12px;
    position: absolute;
    top: 0;
    width: 1520px;
}

.home .condiciones-instance {
    height: 21px;
    left: 276px;
    position: absolute;
    top: 40px;
    width: 288px;
}

.home .condiciones-generales-de-venta-instance {
    font-size: 16px;
    white-space: nowrap;
    width: 288px;
}

.home .design-component-instance-node {
    height: 21px;
    left: 0;
    position: absolute;
    top: 40px;
    width: 283px;
}

.home .condiciones-2 {
    font-size: 16px;
    white-space: nowrap;
    width: 283px;
}

.home .condiciones-3 {
    height: 21px;
    left: 524px;
    position: absolute;
    top: 40px;
    width: 232px;
}

.home .condiciones-4 {
    font-size: 16px;
    white-space: nowrap;
    width: 232px;
}

.home .condiciones-5 {
    height: 21px;
    left: 722px;
    position: absolute;
    top: 40px;
    width: 336px;
}

.home .condiciones-6 {
    font-size: 16px;
    white-space: nowrap;
    width: 336px;
}

.home .condiciones-7 {
    height: 21px;
    left: 1054px;
    position: absolute;
    top: 40px;
    width: 241px;
}

.home .text-wrapper-14 {
    color: #000000;

    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    text-decoration: underline;
    top: -1px;
    white-space: nowrap;
    width: 241px;
}

.home .condiciones-8 {
    height: 21px;
    left: 1291px;
    position: absolute;
    top: 40px;
    width: 241px;
}

.home .condiciones-9 {
    font-size: 16px;
    white-space: nowrap;
    width: 241px;
}

.home .group {
    height: 351px;
    left: 53px;
    position: absolute;
    top: 190px;
    width: 1462px;
}

.home .overlap-5 {
    height: 246px;
    left: 471px;
    position: absolute;
    top: 8px;
    width: 474px;
}

.home .lo-m-s-visto-neum {
    color: #22293a;

    font-size: 16px;
    font-weight: 400;
    left: 234px;
    letter-spacing: 0;
    line-height: 35px;
    position: absolute;
    top: 0;
    width: 240px;
}

.home .span {
    font-weight: 700;
}

.home .text-wrapper-15 {

    font-size: 14px;
}

.home .div-3 {
    color: #22293a;

    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 35px;
    position: absolute;
    top: 0;
    width: 240px;
}

.home .overlap-group-3 {
    height: 281px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 424px;
}

.home .text-wrapper-16 {

    font-size: 14px;
}

.home .nuestros-servicios {
    color: #000000;

    font-size: 16px;
    font-weight: 400;
    left: 222px;
    letter-spacing: 0;
    line-height: 35px;
    position: absolute;
    top: 0;
}

.home .text-wrapper-17 {
    color: #22293a;
    font-weight: 700;
}

.home .text-wrapper-18 {
    color: #22293a;

    font-size: 14px;
}

.home .overlap-6 {
    height: 351px;
    left: 945px;
    position: absolute;
    top: 0;
    width: 505px;
}

.home .norauto-en-el-mundo {
    color: #22293a;

    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 35px;
    position: absolute;
    top: 8px;
    width: 240px;
}

.home .image-3 {
    height: 308px;
    left: 196px;
    object-fit: cover;
    position: absolute;
    top: 43px;
    width: 309px;
}

.home .necesitas-ayuda {
    color: #0071dc;

    font-size: 16px;
    font-weight: 700;
    left: 197px;
    letter-spacing: 0;
    line-height: 35px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 299px;
}

.home .image-4 {
    height: 31px;
    left: 264px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 46px;
}

.home .image-5 {
    height: 166px;
    left: 13px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1519px;
}

.home .redes {
    height: 35px;
    left: 1232px;
    position: absolute;
    top: 575px;
    width: 234px;
}

.home .gorjeo {
    height: 30px;
    left: 133px;
    object-fit: cover;
    position: absolute;
    top: 1px;
    width: 30px;
}

.home .logotipo-de {
    height: 30px;
    left: 63px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 30px;
}

.home .youtube {
    height: 30px;
    left: 204px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 30px;
}

.home .simbolo-de-la {
    height: 30px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 1px;
    width: 30px;
}

.home .menu {
    height: 24px;
    left: 45px;
    position: absolute;
    top: 86px;
    width: 1257px;
}

.home .cita-taller-instance {
    left: 335px;
    position: absolute;
    top: 0;
    width: 172px;
}

.home .cita-taller-3 {
    width: 172px;
}

.home .cita-taller-4 {
    left: 126px;
    position: absolute;
    top: 0;
}

.home .cita-taller-5 {
    left: 0;
    position: absolute;
    top: 0;
    width: 77px;
}

.home .cita-taller-6 {
    width: 77px;
}

.home .cita-taller-7 {
    left: 553px;
    position: absolute;
    top: 0;
}

.home .cita-taller-8 {
    left: 840px;
    position: absolute;
    top: 0;
}

.home .overlap-7 {
    height: 24px;
    left: 1055px;
    position: absolute;
    top: 0;
    width: 202px;
}

.home .cita-taller-9 {
    left: 0;
    position: absolute;
    top: 0;
}

.home .cita-taller-10 {
    left: 96px;
    position: absolute;
    top: 0;
}

.home .cita-taller-11 {
    color: #fcb731;
}

.home .overlap-8 {
    height: 726px;
    left: 0;
    position: absolute;
    top: 651px;
    width: 1531px;
}

.home .MENU-ALL {
    height: 385px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1521px;
}

.home .overlap-9 {
    background-color: #ffffff;
    height: 385px;
    position: relative;
    width: 1519px;
}

.home .text-wrapper-19 {
    color: #22293a;

    font-size: 32px;
    font-weight: 700;
    left: 607px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25px;
    width: 305px;
}

.home .COMIDA-MENU {
    height: 180px;
    left: 28px;
    position: absolute;
    top: 106px;
    width: 1454px;
}

.home .image-6 {
    height: 180px;
    left: 370px;
    position: absolute;
    top: 0;
    width: 342px;
}

.home .image-7 {
    height: 180px;
    left: 0;
    position: absolute;
    top: 0;
    width: 342px;
}

.home .image-8 {
    height: 180px;
    left: 742px;
    position: absolute;
    top: 0;
    width: 342px;
}

.home .image-9 {
    height: 180px;
    left: 1112px;
    position: absolute;
    top: 0;
    width: 342px;
}

.home .rectangle-9 {
    background-color: #fcb731;
    height: 4px;
    left: 716px;
    position: absolute;
    top: 77px;
    width: 70px;
}

.home .platos {
    height: 385px;
    left: 0;
    position: absolute;
    top: 341px;
    width: 1531px;
}

.home .overlap-10 {
    background-color: #f4f4f6;
    height: 385px;
    position: relative;
    width: 1519px;
}

.home .text-wrapper-20 {
    color: #22293a;
    font-size: 32px;
    font-weight: 700;
    left: 534px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 45px;
    width: 450px;
}

.home .spaguetti-wrapper {
    background-color: #ffffff;
    border-radius: 68.5px;
    height: 137px;
    left: 400px;
    position: absolute;
    top: 141px;
    width: 137px;
}

.home .spaguetti {
    height: 64px;
    left: 34px;
    object-fit: cover;
    position: absolute;
    top: 36px;
    width: 64px;
}

.home .paella-wrapper {
    background-color: #ffffff;
    border-radius: 68.5px;
    height: 137px;
    left: 949px;
    position: absolute;
    top: 141px;
    width: 137px;
}

.home .img-2 {
    height: 64px;
    left: 37px;
    object-fit: cover;
    position: absolute;
    top: 36px;
    width: 64px;
}

.home .hamburguesa-wrapper {
    background-color: #ffffff;
    border-radius: 68.5px;
    height: 137px;
    left: 122px;
    position: absolute;
    top: 141px;
    width: 137px;
}

.home .pizza-wrapper {
    background-color: #ffffff;
    border-radius: 68.5px;
    height: 137px;
    left: 673px;
    position: absolute;
    top: 141px;
    width: 137px;
}

.home .hot-dog-wrapper {
    background-color: #ffffff;
    border-radius: 68.5px;
    height: 137px;
    left: 1226px;
    position: absolute;
    top: 141px;
    width: 137px;
}

.home .rectangle-10 {
    background-color: #fcb731;
    height: 4px;
    left: 707px;
    position: absolute;
    top: 102px;
    width: 70px;
}

.home .text-wrapper-21 {
    color: #22293a;

    font-size: 16px;
    font-weight: 700;
    left: 122px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 292px;
    width: 137px;
}

.home .text-wrapper-22 {
    color: #22293a;

    font-size: 16px;
    font-weight: 700;
    left: 400px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 292px;
    width: 137px;
}

.home .text-wrapper-23 {
    color: #22293a;

    font-size: 16px;
    font-weight: 700;
    left: 1226px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 292px;
    width: 137px;
}

.home .text-wrapper-24 {
    color: #22293a;

    font-size: 16px;
    font-weight: 700;
    left: 949px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 292px;
    width: 137px;
}

.home .text-wrapper-25 {
    color: #22293a;

    font-size: 16px;
    font-weight: 700;
    left: 673px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 292px;
    width: 137px;
}

.home .text-wrapper-26 {
    color: #22293a;

    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 70px;
    position: absolute;
    text-align: center;
    top: 1382px;
    white-space: nowrap;
    width: 1519px;
}

.home .element {
    height: 260px;
    left: 0;
    position: absolute;
    top: 390px;
    width: 1537px;
}

.home .overlap-11 {
    background-color: #f4f4f6;
    height: 260px;
    position: relative;
    width: 1519px;
}

.home .overlap-group-4 {
    background-image: url(./image-19.png);
    background-size: 100% 100%;
    height: 218px;
    left: 40px;
    position: absolute;
    top: 21px;
    width: 972px;
}

.home .text-wrapper-27 {
    color: #ffffff;

    font-size: 24px;
    font-weight: 700;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 13px;
    width: 942px;
}

.home .overlap-12 {
    background-color: #ffffff;
    border-radius: 5px;
    height: 88px;
    left: 15px;
    position: absolute;
    top: 57px;
    width: 462px;
}

.home .overlap-13 {
    height: 46px;
    left: 84px;
    position: absolute;
    top: 20px;
    width: 362px;
}

.home .text-wrapper-28 {
    color: #6d7488;

    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 24px;
    width: 342px;
}

.home .text-wrapper-29 {
    color: #002b6f;

    font-size: 18px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 342px;
}

.home .image-10 {
    height: 32px;
    left: 330px;
    object-fit: cover;
    position: absolute;
    top: 6px;
    width: 32px;
}

.home .img-3 {
    height: 32px;
    left: 26px;
    object-fit: cover;
    position: absolute;
    top: 28px;
    width: 32px;
}

.home .rectangle-11 {
    background-color: #fcb731;
    height: 40px;
    left: 70px;
    position: absolute;
    top: 24px;
    width: 2px;
}

.home .overlap-14 {
    background-color: #ffffff;
    border-radius: 5px;
    height: 88px;
    left: 495px;
    position: absolute;
    top: 57px;
    width: 462px;
}

.home .overlap-15 {
    height: 46px;
    left: 85px;
    position: absolute;
    top: 19px;
    width: 361px;
}

.home .image-11 {
    height: 32px;
    left: 329px;
    object-fit: cover;
    position: absolute;
    top: 7px;
    width: 32px;
}

.home .overlap-16 {
    background-color: #ffffff;
    border: 0.4px solid;
    border-color: #6d7488;
    height: 216px;
    left: 1032px;
    position: absolute;
    top: 22px;
    width: 216px;
}

.home .overlap-17 {
    height: 66px;
    left: 17px;
    position: absolute;
    top: 98px;
    width: 180px;
}

.home .mesa {
    -webkit-text-stroke: 0.7px #0071dc;
    color: #0071dc;

    font-size: 30px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 27px;
    width: 180px;
}

.home .text-wrapper-30 {
    -webkit-text-stroke: 0.7px #0071dc;
    color: #0071dc;

    font-size: 30px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 180px;
}

.home .rectangle-12 {
    background-color: #fcb731;
    height: 2px;
    left: 83px;
    position: absolute;
    top: 96px;
    width: 45px;
}

.home .restaurante {
    height: 64px;
    left: 76px;
    object-fit: cover;
    position: absolute;
    top: 28px;
    width: 64px;
}

.home .overlap-18 {
    background-color: #ffffff;
    border: 0.4px solid;
    border-color: #6d7488;
    height: 216px;
    left: 1266px;
    position: absolute;
    top: 22px;
    width: 216px;
}

.home .overlap-19 {
    height: 68px;
    left: 24px;
    position: absolute;
    top: 98px;
    width: 180px;
}

.home .comer {
    -webkit-text-stroke: 0.7px #0071dc;
    color: #0071dc;

    font-size: 30px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 29px;
    width: 180px;
}

.home .rectangle-13 {
    background-color: #fcb731;
    height: 2px;
    left: 88px;
    position: absolute;
    top: 96px;
    width: 45px;
}

.home .restaurante-2 {
    height: 64px;
    left: 80px;
    object-fit: cover;
    position: absolute;
    top: 24px;
    width: 64px;
}

.home .overlap-20 {
    height: 262px;
    left: 40px;
    position: absolute;
    top: 127px;
    width: 1440px;
}

.home .BANNER {
    height: 262px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
}

.home .overlap-21 {
    background-image: url(./image-27.png);
    background-size: 100% 100%;
    height: 262px;
    left: 0;
    position: absolute;
    top: 0;
    width: 720px;
}

.home .ellipse {
    background-color: #22293a;
    border-radius: 15px;
    height: 30px;
    left: 129px;
    position: absolute;
    top: 116px;
    width: 30px;
}

.home .captura-de-pantalla {
    height: 28px;
    left: 129px;
    object-fit: cover;
    position: absolute;
    top: 117px;
    width: 30px;
}

.home .overlap-22 {
    background-image: url(./image-30.png);
    background-size: 100% 100%;
    height: 262px;
    left: 720px;
    position: absolute;
    top: 0;
    width: 720px;
}

.home .ellipse-2 {
    background-color: #22293a;
    border-radius: 15px;
    height: 30px;
    left: 554px;
    position: absolute;
    top: 117px;
    width: 30px;
}

.home .captura-de-pantalla-2 {
    height: 30px;
    left: 554px;
    object-fit: cover;
    position: absolute;
    top: 116px;
    width: 30px;
}

.home .GOURMET {
    height: 175px;
    left: 279px;
    position: absolute;
    top: 45px;
    width: 491px;
}

.home .overlap-23 {
    height: 175px;
    left: -1px;
    position: relative;
    width: 482px;
}

.home .rectangle-14 {
    background-color: #ffffff;
    height: 175px;
    left: 172px;
    position: absolute;
    top: 0;
    width: 310px;
}

.home .rectangle-15 {
    background-color: #fcb731;
    height: 175px;
    left: 6px;
    position: absolute;
    top: 0;
    width: 166px;
}

.home .image-12 {
    height: 174px;
    left: 292px;
    position: absolute;
    top: 1px;
    width: 190px;
}

.home .text-wrapper-31 {
    -webkit-text-stroke: 0.8px #ffffff;
    color: #ffffff;

    font-size: 28px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 77px;
    width: 180px;
}

.home .text-wrapper-32 {
    -webkit-text-stroke: 0.8px #ffffff;
    color: #ffffff;

    font-size: 28px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 46px;
    width: 180px;
}

.home .por-solo {
    -webkit-text-stroke: 0.8px #002b6f;
    color: #002b6f;

    font-size: 24px;
    font-weight: 700;
    left: 182px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    width: 155px;
}

.home .text-wrapper-33 {
    -webkit-text-stroke: 1px #002b6f;
    color: #002b6f;

    font-size: 60px;
    font-weight: 700;
    left: 180px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 65px;
    white-space: nowrap;
    width: 190px;
}

.home .text-wrapper-34 {
    -webkit-text-stroke: 1px #002b6f;
    color: #002b6f;

    font-size: 50px;
    font-weight: 700;
    left: 294px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 36px;
    white-space: nowrap;
    width: 60px;
}